@charset "utf-8";
html {
    font-size: 100%;
    min-height: 100%;
    overflow: auto;
}
body  {
    border: 1px solid red;
    background-color: #421067;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    min-height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}
*  {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
/*Main wraper ogf the site*/
div#wraper  {
    border: 4px solid green;
    float: left;
    max-width: 2400px;
    position: relative;
    width: 100%;
}
/*Header of the site*/
header.header {
    border: 1px solid yellow;
    display: block;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
header h1  {
    color: #8B26C2;
    display: inline-block;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.8em;
}
/*Main part of the site*/
main  {
    border: 1px solid #ffffff;
    display: block;
    float: left;
    width: 100%;
}
/*Session-length with buttons minus and plus*/
div.session-length  {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    width: 90%;
}
.session-length h2:nth-child(1)  {
    color: #ffffff;
    font-family: 'Bubbler One', sans-serif;
    margin-bottom: 0;
    text-align: center;
}
.session-length p  {
    color: #ffffff;
    font-family: 'Bubbler One', sans-serif;
    margin-top: 0;
    text-align: center;
}
button.minus, button.plus  {
    background-color: #421067;
    border: 1px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
}
button.minus  {
    clear: left;
    float: left;
}
button.plus  {
    float: right;
}
h2.length  {
    color: #ffffff;
    font-size: 2em;
    margin-top: 0;
    text-align: center;
}
/*Timer*/
div.timer  {
    border: 3px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 300px;
    padding-top: 50px;
    text-align: center;
	width: 90%;
}
.timer h2  {
    font-size: 2.5em;
}
.timer span  {
    font-size: 3em;
}
div.ready  {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
	width: 90%;
}
/*Div with buttons start, reset and pause*/
div.buttons  {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
    text-align: center;
    width: 90%;
}
.buttons button  {
    background-color: #421067;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-top: 40px;
    padding: 7px;
}
button.start {
    float: left;
}
button.reset  {
    float: right;
}
button.pause {
    display: none;
    float: left;
}
/*Footer of the site*/
footer  {
    border: 1px solid gray;
    display: block;
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
@media only screen and (min-width: 321px){
header h1  {
    font-size: 2.5em;
}
div.ready {
    width: 300px;
}
div.session-length  {
    width: 300px;
}
div.timer  {
	width: 300px;
}
div.buttons  {
    width: 300px;
}
.buttons button  {
    padding: 20px 30px;
}
}
@media only screen and (min-width: 600px){
header h1  {
    font-size: 3em;
} 
}
